@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

 @*@{var entity = (Web.UI.Helpers.DbHelper.User)ViewBag.User;}

<h1>@entity.FirstName</h1>
<h1>@entity.Lastname</h1>*@
